<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="header">
    <div class="container-fluid">
      <div class="header-parent">
        <div class="header-logo">
          <a href=""><img src="images/logo-removebg-preview.png" alt="" /></a>
        </div>
        <div class="menu">
          <ul>
            <li class ="home">Home</li>
            <li class ="about-us">About Us</li>
            <li class ="pricing">Pricing</li>
            <li class ="contact-us">Contact Us</li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <!-- about section -->
  
  <section id="about">
    <div class="about-parent">
      <div class="container">
        <div class="about-column-parent">
          <div class="about-column">
            <a href=""><img src="images/Layer 7 (1).png" alt="" /></a>
          </div>
          <div class="about-clm">
            <div class="about-ctn">
              <h1>About <span>Us</span></h1>
              <p>
                We are a company who strives for highest customer service
                within the community in Southern MD and the DMV. Our goal is
                to serve the best quality work exceeding all customer
                expectations . With 35 years body shop experience as a manager
                & custom painter, my skillset will set our craftsmanship apart
                from other shops building trust therefore ultimately giving
                our customers the best experience.
              </p>
              <div class="abt-btn">
                <a href="">READ MORE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>